.App {
  background-color:rgb(0, 0, 0);
  font-family: 'Montserrat Alternates', sans-serif;

  color:rgba(255, 255, 255, 0.726)
}

h1 {
  font-family: 'Montserrat Alternates',
    sans-serif;
  
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.05);
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: black;
}

.accordion-body {
  color: white;
  background-color: black;
}

.accordion-button {
  color: white;
  background-color: black;
  
}

.accordion-button:not(.collapsed)::after {
  color: white;
}

.accordion-button:focus {
  
  border-color: #FFF ;
  
  box-shadow: 0 0 0 .1rem #FFF 
}

 .accordion-button:after {
   background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
 }

 ul {
   list-style-type: none;
 }

.border-img {
  border: 5px solid rgb(41, 43, 44);
}